$color-blue : #001844; 
$color-red : #ff1e13;


$color-title: #343434;
$color-text: #737373;
$color-gold: #F5A623;


//breakpoints responsive

$break-xs: 576px;
// Small devices (landscape phones, less than 768px)
$break-sm: 768px;
// Medium devices (tablets, less than 992px)
$break-md: 992px;
// Large devices (desktops, less than 1200px)
$break-lg: 1200px;