.lots_page{
    .sec_lots_intro{
        .content{            
            padding: 0 15%;
            letter-spacing: 1.5px;
            line-height: 3;

            .j_title{
                margin-bottom: 80px;
            }
        }             
    }
}
              